{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Create Scorebook{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="custom-block col-md-12 col-sm-12">
            <h1 class="bg_black">Create Scorebook</h1>
            <form action="" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-primary btn-lg" type="submit" value="Create">
            </form>
        </div>
    </div>
{% endblock %}


{% block custom_js %}
    <script>
    </script>
{% endblock custom_js %}