{% extends "base.html" %}
{% block title %}Scorebook{% endblock %}
button website: https://www.w3schools.com/tags/tag_button.asp
coach textbox: https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_input_test
{% block custom_css %}
<style type="text/css">
  	* {
    padding: 0;
    margin: 0;
}
    .tg {
      border-collapse:collapse;
      border-spacing:0;
      cursor:cell;
    }
    .tg td {
      border-color:rgb(0, 0, 0); 
      border-style:solid;
      border-width:1.5px;
      font-family:Arial, sans-serif;font-size:12px;
      overflow:hidden;
      padding:10px 5px;
      word-break:normal;
    }
    .tg th {
      border-style:solid;
      border-width:1.5px;
      font-family:Arial, sans-serif;font-size:10px;
      font-weight:normal;
      overflow:hidden;
      padding:10px 5px;
      word-break:normal;
    }
    .tg .tg-0pky {
      border-color:inherit;
      text-align:left;
      vertical-align:top;
    }
.button {
  border: none;
  color: white;
  padding: 15px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor:pointer;
  vertical-align: right;
}
.checkboxelement {
    display: flex;
    justify-content:center;
    width: 60%;
    margin: .5rem;
}
div.scrollWrapper{
height:250px;
width: 200px;;
overflow-y:scroll;
}

.boxalign2 {
    width:400px;
}
input.rounded2 {
    border: 1px solid #ccc;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 2px 2px 3px #666;
    -webkit-box-shadow: 2px 2px 3px #666;
    box-shadow: 2px 2px 3px #666;
    font-size: 20px;
    padding: 4px 7px;
    outline: 0;
    -webkit-appearance: none;
	display: inline-block;
    width: 150px;
    text-align: right;
}
label {
    text-align:right;
    padding-right:20px;
    display:inline-block;
    min-width:150px;
}


.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #4CAF50;  position: absolute; right: 300px; bottom: 50px;}
.button4 {background-color: #af4c4c;  position: absolute; right: 150px; bottom: 50px;}
</style>
{% endblock custom_css %}
{% block content %}
<div id="boxalign2" class="boxalign2" >
					
  <label>Hospital*:</label><input class="rounded2" required title="Hospital is required!" name="MainHospital" type="text" />	
        <label>Title*:</label><input class="rounded2" name="MainTitle" type="text"/>			
        <label>Department*:</label><input class="rounded2" name="MainDept" type="text"/>
      
    </div>	
<div>
<h1 style="font-size:60px; font-family: Arial,sans-serif; font-weight: bold; text-align: center;">SCOREBOOK</h1>

<div class="checkboxelement">
  <label for="cheese">Do you like cheese?</label>
  <input type="checkbox" name="cheese" id="cheese">
</div>

<div class="checkboxelement">
  <label for="peas">Do you like peas?</label>
  <input type="checkbox" name="peas" id="peas">
</div>

<div style="position: fixed; bottom:100; right: 1600px; width: 300px; align-items: center;">
  <table class="tg" style="text-align: center;">
      <tr>
          <td><p style="font-weight: bold;">RUNNING SCORES</p>
              <table class="tg">
                  <thead>
                    <table style="width: 1500px;">
              
                    <body>
                    <tr>
                      <td class="tg-0pky" contenteditable="true">HOME TEAM</td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                    </tr>
                    <tr>
                      <td class="tg-0pky" contenteditable="true">VISITING TEAM</td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                    </tr>
                  </table>
                  </body>
                  </thead>
                </table>
            </td>
        </tr>
      </tbody>
  </table>
</div>
</div>
<div style="position: fixed; bottom:405px; right: 1600px; width: 300px; align-items: center">
  <table class="tg" style="text-align: center;">
        <td><p style="font-weight: bold;">HOME ROSTER</p>
          <div class="scrollWrapper">
              <table class="tg">
                    <table style="width: 600px;">
                      <tbody height= "500px;" width="600px">
                    <tr>
                      <th class="tg-0pky">NO.</th>
                      <th class="tg-0pky">NAME</th>
                      <th class="tg-0pky">QUARTERS PLAYED</th>
                      <th class="tg-0pky">SHOTS</th>
                      <th class="tg-0pky">GOALS</th>
                      <th class="tg-0pky">ASSISTS</th>
                      <th class="tg-0pky">GROUND BALLS</th>
                    </tr>
                  </div>
                  <tbody>
                    <tr>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                    </tr>
                    <tr>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                    </tr>
                    <tr>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                    </tr>
                    <tr>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                    </tr>
                    <tr>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                    </tr>
                  </table>
                  <button class="button button1">Import Roster</button>
                  </tbody>
                </table>
            </td>
        </tr>
      </tbody>
  </table>
</div>
<div style="position: fixed; bottom:100px; right: 1600px; width: 300px; align-items: center">
  <table class="tg" style="text-align: center;">
      <tr>
        <td><p style="font-weight: bold;">VISITING ROSTER</p>
              <table class="tg">
                  <thead>
                    <table style="width: 600px;">
                    <tr>
                      <th class="tg-0pky">NO.</th>
                      <th class="tg-0pky">NAME</th>
                      <th class="tg-0pky">QUARTERS PLAYED</th>
                      <th class="tg-0pky">SHOTS</th>
                      <th class="tg-0pky">GOALS</th>
                      <th class="tg-0pky">ASSISTS</th>
                      <th class="tg-0pky">GROUND BALLS</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                    </tr>
                    <tr>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                    </tr>
                    <tr>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                    </tr>
                    <tr>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                    </tr>
                  </table>
                  <button class="button button1">Import Roster</button>
                  </tbody>
                </table>
            </td>
        </tr>
  </table>
</div>
<div style="position: fixed; bottom:450px; right: 700px;width: 300px; align-items: center">
  <table class="tg" style="text-align: center;">
      <tr>
        <td><p style="font-weight: bold;">PENALTIES & FOULS</p>
              <table class="tg">
                  <thead>
                    <table style="height: 100px; width: 600px;">
                    <tr>
                      <th class="tg-0pky">PERSONAL OR TECHNICAL</th>
                      <th class="tg-0pky">PLAYER NO.</th>
                      <th class="tg-0pky">INFRACTION</th>
                      <th class="tg-0pky">QUARTER</th>
                      <th class="tg-0pky">TIME</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                    </tr>
                      <tr>
                        <td class="tg-0pky" contenteditable="true"></td>
                        <td class="tg-0pky" contenteditable="true"></td>
                        <td class="tg-0pky" contenteditable="true"></td>
                        <td class="tg-0pky" contenteditable="true"></td>
                        <td class="tg-0pky" contenteditable="true"></td>
                      </tr>
                        <tr>
                          <td class="tg-0pky" contenteditable="true"></td>
                          <td class="tg-0pky" contenteditable="true"></td>
                          <td class="tg-0pky" contenteditable="true"></td>
                          <td class="tg-0pky" contenteditable="true"></td>
                          <td class="tg-0pky" contenteditable="true"></td>
                      </tr>
                        <tr>
                          <td class="tg-0pky" contenteditable="true"></td>
                          <td class="tg-0pky" contenteditable="true"></td>
                          <td class="tg-0pky" contenteditable="true"></td>
                          <td class="tg-0pky" contenteditable="true"></td>
                          <td class="tg-0pky" contenteditable="true"></td>
                        </tr>
                          <tr>
                            <td class="tg-0pky" contenteditable="true"></td>
                            <td class="tg-0pky" contenteditable="true"></td>
                            <td class="tg-0pky" contenteditable="true"></td>
                            <td class="tg-0pky" contenteditable="true"></td>
                            <td class="tg-0pky" contenteditable="true"></td>
                          </tr>
                    </table>
                  </tbody>
                </table>
            </td>
        </tr>
  </table>
</div>
<div style="position: fixed; bottom:290px; right: 700px; width: 300px; align-items: center">
  <table class="tg" style="text-align: center;">
      <tr>
          <td><p style="font-weight: bold;">FINAL SCORES</p>
              <table class="tg">
                  <thead>
                    <table style=" height: 100px; width: 600px;">
                  </thead>
                  <tbody>
                    <tr>
                      <td class="tg-0pky" contenteditable="true">HOME TEAM</td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                    </tr>
                    <tr>
                      <td class="tg-0pky" contenteditable="true">VISITING TEAM</td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                      <td class="tg-0pky" contenteditable="true"></td>
                    </tr>
                  </tbody>
                </table>
            </td>
        </tr>
  </table>
</div>
<button class="button button3">Save Changes</button>
<button class="button button4">Discard Changes</button>
</div>
{% endblock %}
