{% extends "base.html" %}

{% block title %}Scorebook{% endblock %}

{% block content %}
Record the game with the scorebook below.
REFERENCE --------------------> https://mdbootstrap.com/docs/b4/jquery/tables/editable/
<!DOCTYPE html>
<html>
  <head>
    <title>Title of the document</title>
    <style>
      .fixed_header {
        width: 1500px;
        table-layout: fixed;
        border-collapse: collapse;
      }
      .fixed_header tbody {
        display: block;
        width: 100%;
        overflow: auto;
        height: 100px;
      }
      .fixed_header thead tr {
        display: block;
      }
      .fixed_header thead {
        background: black;
        color: #fff;
      }
      .fixed_header th,
      .fixed_header td {
        padding: 5px;
        text-align: left;
        width: 200px;
      }
    </style>
  </head>
  <body>
    <table class="fixed_header">
      <thead>
        <tr>
          <th class="text-center">POSITION</th>
          <th class="text-center">PLAYER NUMBER</th>
          <th class="text-center">NAME</th>
          <th class="text-center">QUARTERS</th>
          <th class="text-center">SHOTS</th>
          <th class="text-center">GOALS</th>
          <th class="text-center">ASSISTS</th>
          <th class="text-center">GROUND BALLS</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="pt-3-half" contenteditable="true">-</td>
          <td class="pt-3-half" contenteditable="true">-</td>
          <td class="pt-3-half" contenteditable="true">-</td>
          <td class="pt-3-half" contenteditable="true">-</td>
          <td class="pt-3-half" contenteditable="true">-</td>
          <td class="pt-3-half" contenteditable="true">-</td>
          <td class="pt-3-half" contenteditable="true">-</td>
          <td class="pt-3-half" contenteditable="true">-</td>
          <td class="pt-3-half">
            <span class="table-up">
              <a href="#!" class="indigo-text">
                <i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i></a>
              </span>
            <span class="table-down">
              <a href="#!" class="indigo-text">
                <i class="fas fa-long-arrow-alt-down" aria-hidden="true"></i></a>
              </span>
          </td>
          <td>
            <span class="table-remove">
                <button type="button" class="btn btn-danger btn-rounded btn-sm my-0">Remove
              </button>
            </span>
          </td>
        </tr>
        <tr>
          <td class="pt-3-half" contenteditable="true">-</td>
          <td class="pt-3-half" contenteditable="true">-</td>
          <td class="pt-3-half" contenteditable="true">-</td>
          <td class="pt-3-half" contenteditable="true">-</td>
          <td class="pt-3-half" contenteditable="true">-</td>
          <td class="pt-3-half" contenteditable="true">-</td>
          <td class="pt-3-half" contenteditable="true">-</td>
          <td class="pt-3-half" contenteditable="true">-</td>
          <td class="pt-3-half">
            <span class="table-up">
              <a href="#!" class="indigo-text">
                <i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i></a>
              </span>
            <span class="table-down">
              <a href="#!" class="indigo-text">
                <i class="fas fa-long-arrow-alt-down" aria-hidden="true"></i></a>
              </span>
          </td>
          <td>
            <span class="table-remove">
                <button type="button" class="btn btn-danger btn-rounded btn-sm my-0">Remove
              </button>
            </span>
          </td>
        </tr>
        <tr>
          <td class="pt-3-half" contenteditable="true">-</td>
          <td class="pt-3-half" contenteditable="true">-</td>
          <td class="pt-3-half" contenteditable="true">-</td>
          <td class="pt-3-half" contenteditable="true">-</td>
          <td class="pt-3-half" contenteditable="true">-</td>
          <td class="pt-3-half" contenteditable="true">-</td>
          <td class="pt-3-half" contenteditable="true">-</td>
          <td class="pt-3-half" contenteditable="true">-</td>
          <td class="pt-3-half">
            <span class="table-up">
              <a href="#!" class="indigo-text">
                <i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i></a>
              </span>
            <span class="table-down">
              <a href="#!" class="indigo-text">
                <i class="fas fa-long-arrow-alt-down" aria-hidden="true"></i></a>
              </span>
          </td>
          <td>
            <span class="table-remove">
                <button type="button" class="btn btn-danger btn-rounded btn-sm my-0">Remove
              </button>
            </span>
          </td>
        </tr>
        <tr>
          <td class="pt-3-half" contenteditable="true">-</td>
          <td class="pt-3-half" contenteditable="true">-</td>
          <td class="pt-3-half" contenteditable="true">-</td>
          <td class="pt-3-half" contenteditable="true">-</td>
          <td class="pt-3-half" contenteditable="true">-</td>
          <td class="pt-3-half" contenteditable="true">-</td>
          <td class="pt-3-half" contenteditable="true">-</td>
          <td class="pt-3-half" contenteditable="true">-</td>
          <td class="pt-3-half">
            <span class="table-up">
              <a href="#!" class="indigo-text">
                <i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i></a>
              </span>
            <span class="table-down">
              <a href="#!" class="indigo-text">
                <i class="fas fa-long-arrow-alt-down" aria-hidden="true"></i></a>
              </span>
          </td>
          <td>
            <span class="table-remove">
                <button type="button" class="btn btn-danger btn-rounded btn-sm my-0">Remove
              </button>
            </span>
          </td>
        </tr>
        <tr>
          <td class="pt-3-half" contenteditable="true">-</td>
          <td class="pt-3-half" contenteditable="true">-</td>
          <td class="pt-3-half" contenteditable="true">-</td>
          <td class="pt-3-half" contenteditable="true">-</td>
          <td class="pt-3-half" contenteditable="true">-</td>
          <td class="pt-3-half" contenteditable="true">-</td>
          <td class="pt-3-half" contenteditable="true">-</td>
          <td class="pt-3-half" contenteditable="true">-</td>
          <td class="pt-3-half">
            <span class="table-up">
              <a href="#!" class="indigo-text">
                <i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i></a>
              </span>
            <span class="table-down">
              <a href="#!" class="indigo-text">
                <i class="fas fa-long-arrow-alt-down" aria-hidden="true"></i></a>
              </span>
          </td>
          <td>
            <span class="table-remove">
                <button type="button" class="btn btn-danger btn-rounded btn-sm my-0">Remove
              </button>
            </span>
          </td>
        </tr>
        <tr>
          <td class="pt-3-half" contenteditable="true">-</td>
          <td class="pt-3-half" contenteditable="true">-</td>
          <td class="pt-3-half" contenteditable="true">-</td>
          <td class="pt-3-half" contenteditable="true">-</td>
          <td class="pt-3-half" contenteditable="true">-</td>
          <td class="pt-3-half" contenteditable="true">-</td>
          <td class="pt-3-half" contenteditable="true">-</td>
          <td class="pt-3-half" contenteditable="true">-</td>
          <td class="pt-3-half">
            <span class="table-up">
              <a href="#!" class="indigo-text">
                <i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i></a>
              </span>
            <span class="table-down">
              <a href="#!" class="indigo-text">
                <i class="fas fa-long-arrow-alt-down" aria-hidden="true"></i></a>
              </span>
          </td>
          <td>
            <span class="table-remove">
                <button type="button" class="btn btn-danger btn-rounded btn-sm my-0">Remove
              </button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
{% endblock %}

