{% extends "base.html" %}
{% block title %}Scorebook{% endblock %}
button website: https://www.w3schools.com/tags/tag_button.asp
coach textbox: https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_input_test
{% block custom_css %}
<style>
    .item1 { grid-area: running_score; }
    .item2 { grid-area: home_roster; }
    .item3 { grid-area: visting_roster; }
    .item4 { grid-area: penalties; }
    .item5 { grid-area: final_score; }
    
    .grid-container {
      display: grid;
      grid-template-areas:
        'running_score running_score running_score running_score running_score running_score'
        'home_roster home_roster home_roster penalties penalties penalties'
        'visting_roster visting_roster visting_roster final_score final_score final_score';
      gap: 10px;
      background-color: #2196F3;
      padding: 50px;
    }
    
    .grid-container > div {
      background-color: rgba(255, 255, 255, 0.8);
      text-align: center;
      padding: 20px 0;
      font-size: 30px;
      
    }
    </style>
    </head>
    <body>
    
    <h1>Grid Layout</h1>
    
    <p>This grid layout contains six columns and three rows:</p>
    
    <div class="grid-container">
      <div class="item1">Running Score
        <div>
            <table class="tg">
                    <tr>
                        <td></td>
                            <table class="tg">
                                        <body>
                                            <tr>
                                                <td style="background-color: #96D4D4" class="tg-0pky">HOME TEAM</td>
                                                <td class="tg-0pky" contenteditable="true"></td>
                                                <td class="tg-0pky" contenteditable="true"></td>
                                                <td class="tg-0pky" contenteditable="true"></td>
                                                <td class="tg-0pky" contenteditable="true"></td>
                                                <td class="tg-0pky" contenteditable="true"></td>
                                                <td class="tg-0pky" contenteditable="true"></td>
                                                <td class="tg-0pky" contenteditable="true"></td>
                                                <td class="tg-0pky" contenteditable="true"></td>
                                                <td class="tg-0pky" contenteditable="true"></td>
                                                <td class="tg-0pky" contenteditable="true"></td>
                                                <td class="tg-0pky" contenteditable="true"></td>
                                                <td class="tg-0pky" contenteditable="true"></td>
                                            </tr>
                                            <tr>
                                                <td style="background-color: #96D4D4" class="tg-0pky">VISITING TEAM</td>
                                                <td class="tg-0pky" contenteditable="true"></td>
                                                <td class="tg-0pky" contenteditable="true"></td>
                                                <td class="tg-0pky" contenteditable="true"></td>
                                                <td class="tg-0pky" contenteditable="true"></td>
                                                <td class="tg-0pky" contenteditable="true"></td>
                                                <td class="tg-0pky" contenteditable="true"></td>
                                                <td class="tg-0pky" contenteditable="true"></td>
                                                <td class="tg-0pky" contenteditable="true"></td>
                                                <td class="tg-0pky" contenteditable="true"></td>
                                                <td class="tg-0pky" contenteditable="true"></td>
                                                <td class="tg-0pky" contenteditable="true"></td>
                                                <td class="tg-0pky" contenteditable="true"></td>
                                            </tr>
                                        </body>
                                    </table>
                                </thead>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
      </div>
      <div class="item2">Home Roster</div>
      <div class="item3">Visiting Roster</div>  
      <div class="item4">Penalties</div>
      <div class="item5">Final Score</div>
    </div>
  
{% endblock %}
